body {
  background-image: url('images/earth.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: block;
  height: 100%;
  width: 100%;
}

.show {
  display: inline;
}

.hide {
  display: none !important;
}

#main-modal {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10vh;
  margin-bottom: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: solid 4px rgb(14, 82, 213);
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  width: 50%;
  height: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #main-modal {
    width: 90vw;
  }
}

#main-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-icon {
  font-size: 75px;
}

#loading-icon {
  margin-bottom: 20%;
}

h1,
h2,
h4,
h5,
h6 {
  margin: 7px auto;
}

h3 {
  font-size: 30px;
  margin: 10px auto;
}

#get-browser-location {
  display: flex;
  align-items: center;
  margin: 15% auto;
  padding: 15px;
  border-radius: 10px;
  font: inherit;
  color: whitesmoke;
  background-color: rgb(14, 82, 213);
  border: none;
  outline: none;
}
